:root {
    --dark: #{$neutral-neutral-1000};
    --white: #{$neutral-neutral-100};
    --soft-orange: #{$secondary-secondary100};
    --orange: #{$secondary-secondary500};
    --arial: #{$font-family-arial};
    --courier: #{$font-family-courier};
    --brown: #{$secondary-secondary900};
    --soft-orange-2:#{ $secondary-secondary200};
    --secondary-400: #{$secondary-secondary400};
    --primary-600: #{$primary-primary600};
    --neutral-600: #{$neutral-neutral-600};

    --Arial-typo: var(--arial);
    --Courier-typo: var(--courier);
    --typo-white: var(--white);
    --dark-typo: var(--dark);
    --bg-card: var(--soft-orange);
    --btn-color: var(--orange);
    --btn-hover: var(--brown);
    --hover-text: var(--soft-orange-2);
    --nav-btn: var(--secondary-400);
    --nav-ancre-hover: var(--primary-600);
    --nav-ancre: var(--neutral-600);
  }




  .nav{
    display: flex;
    justify-content: space-around;
    margin: 3rem;
    &__ul{
        display: flex;
        align-items: center;
        gap: 2rem;
        margin-left: 4rem;
    }
    &__li{
        text-decoration: none;
        &:first-child{
            border-right: 3px solid grey;
            padding-right: 2rem;
            
        }
    }
    &__a{
        font-size: 1.25rem;
        font-family: var(--Arial-typo);
        font-weight: 600;
        color: var(--neutral-600);
    }
    &__img{
        width: 5rem;
    }
    &__container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
    &__btn{
        @include nav-btn-style();
    }
    @media (max-width: 720px) {
        margin: 1rem;
        &__a{
            font-size: 0.5rem;
        }
        &__ul{
            gap: 1rem;
            margin-left: 1rem;
        }
        &__btn{
            width: auto;
            font-size: 0.5rem;
            padding: 0.75rem;
        }
        &__img{
            width: 2rem;
        }
        &__li{
            display: none;
            &:first-child{
                display: flex;
                border-right: 0px solid grey;
                padding-right: 0.75rem;
            }
        }
        &__container{
            gap: 1rem;
        }
        &__svg{
            width: 1rem;
        }
  }
}